.App {
  margin-top: 40px;
}
.navbar.navbar-light.bg-light {
  display: block;
  text-align: center;
}
.navbar.navbar-light.bg-light #login {
  margin-top: 15px;
}
.userDetails {
  display: block;
  margin-top: 6%;
  margin-left: 20%;
  background-color: lightblue;
  padding: 10px;
  width: fit-content;
}
.userDetails h4 {
  color: rgb(33, 33, 160);
  text-align: center;
}
